@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E8E7E5;
  --foreground: #3B4352;
  --font-outfit: 'Outfit', sans-serif;
  --font-allover: 'ALLOVER', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit);
  max-width: '1350px';
}

#welcome-banner {
  font-family: var(--font-allover);
}
